extends layout 

block main-content 
    h1.page-title Provinces/States in #{provinces.data[0].name}
    h2 Please select a province or state
    ul
        each p in provinces.data
            li
                - let url = `/report?regionIso=${regionIso}&province=${p.province}`
                a(href=url) #{p.province}