extends layout 

block main-content 
  h1.page-title COVID Report for all of #{report.data[0].region.province}, #{report.data[0].region.name}
  p
    b Total confirmed cases: 
    #{report.data[0].confirmed}
  p
    b Total deaths: 
    #{report.data[0].deaths}
  p
    b Last updated: 
    #{report.data[0].last_update}

    h2 Map: 
    div#map(style="height:500px;")
    script.
    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: #{report.data[0].region.lat}, lng: #{report.data[0].region.long} },
        zoom: 8,
      });
      const marker = new google.maps.Marker({
        position: { lat: #{report.data[0].region.lat}, lng: #{report.data[0].region.long} },
        map: map,
      });
    }

  p
    b Latitude: 
    #{report.data[0].region.lat}
  p
    b Longitude: 
    #{report.data[0].region.long}

  //- h2 COVID reports for select cities within #{report.data[0].region.province}, #{report.data[0].region.name}
  //- ul
  //-   each r in report.data
  //-     div
  //-     p Total confirmed cases: #{r.[0].cities.names}